<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.mitmproxy</string>
  <key>ProgramArguments</key>
  <array>
@MITMDUMP_BIN@
    <string>--listen-host</string>
@MITMPROXY_HOST@
    <string>--listen-port</string>
@MITMPROXY_PORT@
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>WorkingDirectory</key>
@WORKING_DIRECTORY@
  <key>StandardOutPath</key>
@STDOUT_LOG@
  <key>StandardErrorPath</key>
@STDERR_LOG@
</dict>
</plist>
